<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Poke</title>
    </head>
    <body>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h3>People you may want to poke:</h3>
        <table border="1">
            <tr>
                <th align="left">Name</th>
                <th align="left">Alias</th>
                <th align="left">Email Address</th>
                <th align="left">Poke History</th>
                <th align="left">Action</th>
            </tr>
                {% for user in users %}
                    <tr>
                        <td align="left">{{user.name}}</td>
                        <td align="left">{{user.alias}}</td>
                        <td align="left">{{user.email}}</td>
                        <td align="left">{{count}}</td>
                        <td align="left"><a href="poke/{{user.id}}"><input type="button" value="Poke!" name="poke"></a></td>
                    </tr> 
                {% endfor %}  
        </table>
    </body>
</html> 
<!-- poke/{{user.id}} -->